@using EmailReport.ViewModels
@model BaseViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/UI/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/UI/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/UI/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/UI/build/css/custom.min.css" rel="stylesheet">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="http://www.chartjs.org/dist/2.7.2/Chart.bundle.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    <!-- jQuery -->

    <script src="~/UI/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/UI/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/UI/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/UI/vendors/nprogress/nprogress.js"></script>

    <title>@RenderSection("TitleSection") </title>
    <style>
        .canvasjs-chart-credit {
            display: none;
        }
    </style>
    <link href="~/UI/multiple-select.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/UI/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/UI/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/UI/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/UI/build/css/custom.min.css" rel="stylesheet">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>

    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("HeaderSection", false)
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/Report/index" class="site_title"><i class="fa fa-bar-chart"></i> <span> Overview</span></a>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <h2>Filter</h2>
                            <form action="/Report/DateRange" method="post" class="form-group align-self-end ;">
                                <ul class="nav side-menu">
                                    <li>
                                        <label for="StartDate" class="form-inline" style="font-size:large; vertical-align: top"> From : <input id="StartDate" name="StartDate" width="200" style="vertical-align: bottom" value="@Model.Start" /></label>
                                        <script>
                                            $('#StartDate').datepicker({

                                                uiLibrary: 'bootstrap'
                                            });
                                        </script>
                                    </li>
                                    <li>
                                        <label for="EndDate" class="form-inline" style="font-size:large; vertical-align: top">  To : <input id="EndDate" name="EndDate" style="vertical-align: middle" width="200" value="@Model.End" /></label>
                                        <script>
                                            $('#EndDate').datepicker({
                                                uiLibrary: 'bootstrap'
                                            });
                                        </script>


                                    </li>
                                    <li>
                                        @*<h5>L1</h5>*@
                                        <select multiple="multiple" style="width:85%; margin:0, auto" name="L1">
                                            @foreach (var l1 in @Model.L1List)
                                            {
                                                if (Model.SelectedL1List.Count() != Model.L1List.Count() && Model.SelectedL1List.Contains(l1))
                                                {
                                                    <option value='@l1' selected> &nbsp;@l1</option>
                                                }
                                                else
                                                {
                                                    <option value='@l1'> &nbsp;@l1</option>
                                                }
                                            }

                                        </select>
                                        <script src="~/Scripts/multiple-select.js"></script>
                                        <script>
                                            $("select").multipleSelect({
                                                placeholder: "Please select L1 Value"
                                            });
                                        </script>
                                    </li>
                                    <li>
                                        @*<h5>L2</h5>*@
                                        <select multiple="multiple" style="width:85%; margin:0, auto" name="L2">
                                            @foreach (var l2 in @Model.L2List)
                                            {
                                                if (Model.SelectedL2List.Count() != Model.L2List.Count() && Model.SelectedL2List.Contains(l2))
                                                {
                                                    <option value='@l2' selected> &nbsp;@l2</option>
                                                }
                                                else
                                                {
                                                    <option value='@l2'> &nbsp;@l2</option>
                                                }
                                            }

                                        </select>
                                        <script src="~/Scripts/multiple-select.js"></script>
                                        <script>
                                            $("select").multipleSelect({
                                                placeholder: "Please select L2 Value"
                                            });
                                        </script>
                                    </li>
                                    <li>
                                        @*<h5>L3</h5>*@
                                        <select multiple="multiple" style="width:85%; margin:0, auto" name="L3">
                                            @foreach (var l3 in @Model.L3List)
                                            {
                                                if (Model.SelectedL3List.Count() != Model.L3List.Count() && Model.SelectedL3List.Contains(l3))
                                                {
                                                    <option value='@l3' selected> &nbsp;@l3</option>
                                                }
                                                else
                                                {
                                                    <option value='@l3'> &nbsp;@l3</option>
                                                }
                                            }

                                        </select>
                                        <script src="~/Scripts/multiple-select.js"></script>
                                        <script>
                                            $("select").multipleSelect({
                                                placeholder: "Please select L3 Value"
                                            });
                                        </script>
                                    </li>
                                    <li>
                                        @*<h5>L4</h5>*@
                                        <select multiple="multiple" style="width:85%; margin:0, auto" name="L4">
                                            @foreach (var l4 in @Model.L4List)
                                            {
                                                if (Model.SelectedL4List.Count() != Model.L4List.Count() && Model.SelectedL4List.Contains(l4))
                                                {
                                                    <option value='@l4' selected> &nbsp;@l4</option>
                                                }
                                                else
                                                {
                                                    <option value='@l4'> &nbsp;@l4</option>
                                                }
                                            }

                                        </select>
                                        <script src="~/Scripts/multiple-select.js"></script>
                                        <script>
                                            $("select").multipleSelect({
                                                placeholder: "Please select L4 Value"
                                            });
                                        </script>
                                    </li>
                                    <li>
                                        @*<h5>L5</h5>*@
                                        <select multiple="multiple" style="width:85%; margin:0, auto" name="L5">
                                            @foreach (var l5 in @Model.L5List)
                                            {
                                                if (Model.SelectedL5List.Count() != Model.L5List.Count() && Model.SelectedL5List.Contains(l5))
                                                {
                                                    <option value='@l5' selected> &nbsp;@l5</option>
                                                }
                                                else
                                                {
                                                    <option value='@l5'> &nbsp;@l5</option>
                                                }
                                            }

                                        </select>
                                        <script src="~/Scripts/multiple-select.js"></script>
                                        <script>
                                            $("select").multipleSelect({
                                                placeholder: "Please select L5 Value"
                                            });
                                        </script>
                                    </li>
                                    <li>
                                        @*<h5>Region</h5>*@
                                        <select multiple="multiple" style="width:85%; margin:0, auto" name="Region">

                                            @foreach (var re in @Model.RegionList)
                                            {
                                                if (Model.RegionList.Count() != Model.SelectedRegionList.Count() && Model.SelectedRegionList.Contains(re))
                                                {
                                                    <option value='@re' selected> &nbsp;@re</option>
                                                }
                                                else
                                                {
                                                    <option value='@re'> &nbsp;@re</option>
                                                }
                                            }

                                        </select>
                                        <script src="~/Scripts/multiple-select.js"></script>
                                        <script>
                                            $("select").multipleSelect({
                                                placeholder: "Please select region"
                                            });
                                        </script>
                                    </li>
                                    <li>
                                        @*<h5>Country</h5>*@
                                        <select multiple="multiple" style="width:85%; margin:0, auto" name="Country">
                                            @foreach (var re in @Model.CountryList)
                                            {
                                                if (Model.CountryList.Count() != Model.SelectedCountryList.Count() && Model.SelectedCountryList.Contains(re))
                                                {
                                                    <option value='@re' selected> &nbsp;@re</option>
                                                }
                                                else
                                                {
                                                    <option value='@re'> &nbsp;@re</option>
                                                }
                                            }

                                        </select>
                                        <script src="~/Scripts/multiple-select.js"></script>
                                        <script>
                                            $("select").multipleSelect({
                                                placeholder: "Please select country"
                                            });
                                        </script>
                                    </li>
                                    <li>
                                        @*<h5>Status</h5>*@
                                        <select multiple="multiple" style="width:85%; margin:0, auto" name="Status">
                                            @foreach (var re in @Model.StatusList)
                                            {
                                                if (Model.StatusList.Count() != Model.SelectedStatusList.Count() && Model.SelectedStatusList.Contains(re))
                                                {
                                                    <option value='@re' selected> &nbsp;@re</option>
                                                }
                                                else
                                                {
                                                    <option value='@re'> &nbsp;@re</option>
                                                }
                                            }

                                        </select>
                                        <script src="~/Scripts/multiple-select.js"></script>
                                        <script>
                                            $("select").multipleSelect({
                                                placeholder: "Please select status"
                                            });
                                        </script>
                                    </li>

                                    <li>
                                        <div>
                                            <input type="submit" name="BtnSubmit" class="btn btn-primary" style="vertical-align: top" value="Submit" />
                                            <a href="/Report/index" class="btn btn-warning">Reset</a>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <a href="/BulkUpload/Index" style="font-size:large" class="btn btn-default pull-right">Upload</a>
                        </nav>
                    </div>
                </div>

                @RenderSection("ContentBody")

            </div>
    </div>
</body>
</html>

