@using EmailReport.ViewModels
@model ReportListViewModel

@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection{
    MyView
}

@section HeaderSection{

    <link href="~/UI/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
    <script src="~/UI/vendors/echarts/dist/echarts.min.js"></script>
    <script src="~/UI/vendors/echarts/map/js/world.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <script src="~/UI/vendors/raphael/raphael.min.js"></script>
    <script src="~/UI/vendors/morris.js/morris.min.js"></script>
    <style>
        .canvasbar {
            width: 400px;
            height: 250px;
            float: left;
            margin: 10px 0px 0px 10px;
            position: relative;
        }

        .canvaspie {
            width: 250px;
            height: 250px;
            float: left;
            margin: 10px 0px 0px 10px;
            position: relative;
        }

        .right {
            width: 600px;
            height: 200px;
            float: right;
            margin: 0px 200px 15px 50px;
            position: relative;
            padding: 100px 0px 100px 0px;
        }

        .class {
            margin: 0px 200px 0px 200px;
        }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>

    <script type="text/javascript">
        var theme = {
            color: [
                '#26B99A', '#34495E', '#BDC3C7', '#3498DB',
                '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7'
            ],

            title: {
                itemGap: 8,
                textStyle: {
                    fontWeight: 'normal',
                    color: '#408829'
                }
            },

            dataRange: {
                color: ['#1f610a', '#97b58d']
            },

            toolbox: {
                color: ['#408829', '#408829', '#408829', '#408829']
            },

            tooltip: {
                backgroundColor: 'rgba(0,0,0,0.5)',
                axisPointer: {
                    type: 'line',
                    lineStyle: {
                        color: '#408829',
                        type: 'dashed'
                    },
                    crossStyle: {
                        color: '#408829'
                    },
                    shadowStyle: {
                        color: 'rgba(200,200,200,0.3)'
                    }
                }
            },

            dataZoom: {
                dataBackgroundColor: '#eee',
                fillerColor: 'rgba(64,136,41,0.2)',
                handleColor: '#408829'
            },
            grid: {
                borderWidth: 0
            },

            categoryAxis: {
                axisLine: {
                    lineStyle: {
                        color: '#408829'
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ['#eee']
                    }
                }
            },

            valueAxis: {
                axisLine: {
                    lineStyle: {
                        color: '#408829'
                    }
                },
                splitArea: {
                    show: true,
                    areaStyle: {
                        color: ['rgba(250,250,250,0.1)', 'rgba(200,200,200,0.1)']
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ['#eee']
                    }
                }
            },
            timeline: {
                lineStyle: {
                    color: '#408829'
                },
                controlStyle: {
                    normal: { color: '#408829' },
                    emphasis: { color: '#408829' }
                }
            },

            k: {
                itemStyle: {
                    normal: {
                        color: '#68a54a',
                        color0: '#a9cba2',
                        lineStyle: {
                            width: 1,
                            color: '#408829',
                            color0: '#86b379'
                        }
                    }
                }
            },
            map: {
                itemStyle: {
                    normal: {
                        areaStyle: {
                            color: '#ddd'
                        },
                        label: {
                            textStyle: {
                                color: '#c12e34'
                            }
                        }
                    },
                    emphasis: {
                        areaStyle: {
                            color: '#99d2dd'
                        },
                        label: {
                            textStyle: {
                                color: '#c12e34'
                            }
                        }
                    }
                }
            },
            force: {
                itemStyle: {
                    normal: {
                        linkStyle: {
                            strokeColor: '#408829'
                        }
                    }
                }
            },
            chord: {
                padding: 4,
                itemStyle: {
                    normal: {
                        lineStyle: {
                            width: 1,
                            color: 'rgba(128, 128, 128, 0.5)'
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: 'rgba(128, 128, 128, 0.5)'
                            }
                        }
                    },
                    emphasis: {
                        lineStyle: {
                            width: 1,
                            color: 'rgba(128, 128, 128, 0.5)'
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: 'rgba(128, 128, 128, 0.5)'
                            }
                        }
                    }
                }
            },
            gauge: {
                startAngle: 225,
                endAngle: -45,
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: [[0.2, '#86b379'], [0.8, '#68a54a'], [1, '#408829']],
                        width: 8
                    }
                },
                axisTick: {
                    splitNumber: 10,
                    length: 12,
                    lineStyle: {
                        color: 'auto'
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: 'auto'
                    }
                },
                splitLine: {
                    length: 18,
                    lineStyle: {
                        color: 'auto'
                    }
                },
                pointer: {
                    length: '90%',
                    color: 'auto'
                },
                title: {
                    textStyle: {
                        color: '#333'
                    }
                },
                detail: {
                    textStyle: {
                        color: 'auto'
                    }
                }
            },
            textStyle: {
                fontFamily: 'Arial, Verdana, sans-serif'
            }
        };
        var count = [];

       
        function echart_world_map() {
            if ($('#world_map').length) {

                var echartMap = echarts.init(document.getElementById('world_map'), theme);


                echartMap.setOption({
                    title: {
                        text: 'Number of Employees (Open)',
                        subtext: '',
                        x: 'center',
                        y: 'top'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: function (params) {
                            var value = params.value;

                            return params.seriesName + '<br/>' + params.name + ' : ' + value;
                        }
                    },
                    toolbox: {
                        show: true,
                        orient: 'vertical',
                        x: 'right',
                        y: 'center',
                        feature: {
                            mark: {
                                show: true
                            },
                            dataView: {
                                show: true,
                                title: "Text View",
                                lang: [
                                    "Text View",
                                    "Close",
                                    "Refresh",
                                ],
                                readOnly: false
                            },
                            restore: {
                                show: true,
                                title: "Restore"
                            },
                            saveAsImage: {
                                show: true,
                                title: "Save Image"
                            }
                        }
                    },
                    dataRange: {
                        min: 0,
                        max: 3000,
                        text: ['High', 'Low'],
                        realtime: false,
                        calculable: true,
                        color: ['#087E65', '#26B99A', '#CBEAE3']
                    },
                    series: [{
                        name: 'Number of Employees',
                        type: 'map',
                        mapType: 'world',
                        roam: false,
                        mapLocation: {
                            y: 60
                        },
                        itemStyle: {
                            emphasis: {
                                label: {
                                    show: true
                                }
                            }
                        },
                        data: @Html.Raw(@Model.json)
                    }]
                });

            }

        }

        function init_chart_bar() {

            if (typeof (Chart) === 'undefined') { return; }

            console.log('init_chart_bar');

            if ($('.canvasbar').length) {

                var chart_bar_settings = {

                    type: 'bar',

                    axisY: {
                        includeZero: true  //try changing it to true
                    },
                    data: {

                        labels: [
                            "Delivered",
                            "Open",
                            "Click",

                        ],
                        datasets: [{
                            data: [@Model.DeliveredCount, @Model.OpenCount, @Model.ClickCount],
                            backgroundColor: [
                                "#3498DB",
                                "#26B99A",
                                "#E74C3C"
                            ],
                            hoverBackgroundColor: [
                                "#49A9EA",
                                "#36CAAB",
                                "#E95E4F"
                            ]
                        }]
                    },
                    options: {
                        legend: false,
                        responsive: false

                    }
                }

                $('.canvasbar').each(function () {

                    var chart_element = $(this);
                    var chart_bar = new Chart(chart_element, chart_bar_settings);

                });

            }

        }
        function init_chart_pie() {

            if (typeof (Chart) === 'undefined') { return; }
            console.log(Chart);
            console.log(typeof (Chart));

            console.log('init_chart_pie');

            if ($('.canvaspie').length) {

                var chart_pie_settings = {
                    type: 'pie',
                    tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                    data: {
                        labels: [
                            "AMS",
                            "EMEA",
                            "APJ",

                            "N/A",
                        ],
                        datasets: [{
                            data: [@Model.RegionCodeCount.ElementAt(0).Count, @Model.RegionCodeCount.ElementAt(1).Count, @Model.RegionCodeCount.ElementAt(2).Count, @Model.RegionCodeCount.ElementAt(3).Count],
                            backgroundColor: [
                                "#BDC3C7",
                                "#9B59B6",
                                "#E74C3C",
                                "#26B99A"

                            ],
                            hoverBackgroundColor: [
                                "#CFD4D8",
                                "#B370CF",
                                "#E95E4F",
                                "#36CAAB"

                            ]
                        }]
                    },
                    options: {
                        legend: false,
                        responsive: false
                    }
                }

                $('.canvaspie').each(function () {

                    var chart_element = $(this);
                    var chart_pie = new Chart(chart_element, chart_pie_settings);

                });

            }

        }
        $(document).ready(function () {
           init_chart_pie();
            init_chart_bar();
            echart_world_map();
        })
    </script>

}

@section ContentBody{
    <div class="right_col" role="main">

       

        <div class="main_container nav-md container body">
            <div class="row" style="float:left">
                <div class="col-md-6 col-sm-6 col-xs-12" style="float:left">
                    <div class="x_panel tile fixed_height_320 overflow_hidden" style="height:500px">
                        <div class="x_title">
                            <h2>Email Status</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="" style="width:100%">
                                <tr>
                                    <th style="width:37%;">
                                        <p class="">@Model.UniqueUser Users</p>
                                    </th>

                                </tr>
                                <tr>
                                    <td>
                                        <canvas class="canvasbar" height="250" width="400" style="margin: 15px 10px 10px 0"></canvas>
                                    </td>



                                <tr style="font-size:initial">

                                    <td>
                                        <p style="font-size:initial"><i class="fa fa-square blue" style="font-size:initial"></i><a href="/Report/Details/delivered">&nbsp;Delivered</a> </p>
                                    </td>
                                    <td style="font-size:initial"> @Model.DeliveredCount</td>

                                </tr>

                                <tr style="font-size:initial">
                                    <td>
                                        <p style="font-size:initial"><i class="fa fa-square green" style="font-size:initial"></i><a href="/Report/Details/open">&nbsp;Opened</a> </p>
                                    </td>
                                    <td style="font-size:initial"> @Model.OpenCount</td>
                                </tr>
                                <tr style="font-size:initial">
                                    <td>
                                        <p style="font-size:initial"><i class="fa fa-square red" style="font-size:initial"></i><a href="/Report/Details/click">&nbsp;Clicks</a> </p>
                                    </td>
                                    <td style="font-size:initial">@Model.UniqueClickUser</td>
                                </tr>



                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel tile fixed_height_320 overflow_hidden" style="height:500px">
                        <div class="x_title">
                            <h2>Opened Status (Unique Users)</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="" style="width:100%">
                                <tr>
                                    <th style="width:37%;">
                                        <p>@Model.OpenCount opens</p>
                                    </th>

                                </tr>
                                <tr>
                                    <td>
                                        <canvas class="canvaspie" height="250" width="250" style="margin: 15px 10px 10px 0"></canvas>

                                    </td>
                                    <td>
                                        <table class="tile_info right" style="width:initial">


                                            <tr style="font-size:x-large">
                                                <td>
                                                    <p style="font-size:x-large"><i class="fa fa-square aero" style="font-size:x-large"></i>AMS </p>
                                                </td>
                                                <td style="font-size:x-large">@Model.RegionCodeCount.ElementAt(0).Count </td>
                                            </tr>

                                            <tr style="font-size:x-large">
                                                <td>
                                                    <p style="font-size:x-large"><i class="fa fa-square purple" style="font-size:x-large"></i>EMEA </p>
                                                </td>
                                                <td style="font-size:x-large">@Model.RegionCodeCount.ElementAt(1).Count</td>
                                            </tr>
                                            <tr style="font-size:x-large">
                                                <td>
                                                    <p style="font-size:x-large"><i class="fa fa-square red" style="font-size:x-large"></i>APJ </p>
                                                </td>
                                                <td style="font-size:x-large">@Model.RegionCodeCount.ElementAt(2).Count</td>
                                            </tr>
                                            <tr style="font-size:x-large">
                                                <td>
                                                    <p style="font-size:x-large"><i class="fa fa-square green" style="font-size:x-large"></i>N/A </p>
                                                </td>
                                                <td style="font-size:x-large">@Model.RegionCodeCount.ElementAt(3).Count</td>
                                            </tr>
                                            
                                        </table>
                                    </td>



                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="page-title">
            <div class="title_left">
                <h2>Details of the Opens</h2>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>World Map</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="world_map" style="height:480px;"></div>

                </div>

            </div>
        </div>

        <table class="table table-striped">
            <tr>
                <td valign="top">
                    <table class="table table-striped jambo_table col-sm-12">
                        <thead>
                            <tr class="headings">
                                <th>AMS (@Model.RegionCodeCount.ElementAt(0).Count Unique Users)</th>
                                <th>Open Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kvp in @Model.America)
                            {
                                <tr>
                                    <td>@kvp.Country</td>
                                    <td>@kvp.Count</td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </td>
                <td valign="top">
                    <table class="table table-striped jambo_table col-sm-12">
                        <thead>
                            <tr class="headings">
                                <th>EMEA (@Model.RegionCodeCount.ElementAt(1).Count Unique Users)</th>
                                <th>Open Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kvp in @Model.EMEA)
                            {
                                <tr>
                                    <td>@kvp.Country</td>
                                    <td>@kvp.Count</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>


                <td valign="top">
                    <table class="table table-striped jambo_table col-sm-12">
                        <thead>
                            <tr class="headings">
                                <th>APJ (@Model.RegionCodeCount.ElementAt(2).Count Unique Users)</th>
                                <th>Open Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kvp in @Model.AsianPacific)
                            {
                                <tr>
                                    <td>@kvp.Country</td>
                                    <td>@kvp.Count</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                
        </table>


        <div class="page-title">
            <div class="title_left">
                <h2>@Model.UniqueClickUser Users Click in the URL</h2>
            </div>
        </div>



        <div>
            <table class="table table-striped jambo_table">
                <thead>
                    <tr class="headings">
                        <th>Page URL</th>
                        <th>Clicks (Total Amount)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var kvp in @Model.UrlCount)
                    {
                        <tr>
                            <td>@kvp.Url</td>
                            <td>@kvp.Count</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden" style="height:500px">
                <div class="x_title">
                    <h2>Daily Open</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="" style="width:100%">
                        <tr>
                            <td>
                                <div id="date_graph_line" style="width:80%; height:300px;"></div>

                                <script>
                                        if ($('#date_graph_line').length) {
                                        console.log('graph line');
                                        var chart = Morris.Line({
                                            element: 'date_graph_line',
                                            xkey: 'Date',
                                            hideHover: false,
                                            ykeys: ['AMS', 'EMEA', 'APJ'],
                                            labels: ['AMS', 'EMEA', 'APJ'],
                                            hideHover: 'auto',
                                            lineColors: ['#26B99A', "#E74C3C", "#3498DB"],
                                            xLabels: "day",
                                            resize: true,
                                            data:@Html.Raw(@Model.GraphLine)
                                            
                                        });

                                                    chart.options.labels.forEach(function (label, i) {
                                                        var legendItem = $('<span></span>').text(label).css('color', chart.options.lineColors[i])
                                                        $('#legend').append(legendItem)
                                                    });

                                    }
                                </script>

                            </td>





                            <td>

                                <p style="font-size:initial"><i class="fa fa-square green" style="font-size:initial"></i>&nbsp;AMS </p>

                                <p style="font-size:initial"><i class="fa fa-square red" style="font-size:initial"></i>&nbsp;EMEA </p>

                                <p style="font-size:initial"><i class="fa fa-square blue" style="font-size:initial"></i>&nbsp;APJ </p>

                                
                            </td>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <table class="table table-striped jambo_table">
                <thead>
                    <tr class="headings">

                        <th>Date</th>
                        <th>TotalOpen</th>
                        <th>AMSOpen</th>
                        <th>EMEAOpen</th>
                        <th>APJOpen</th>
                        
                        <th>N/A</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var kvp in @Model.DateCount)
                    {
                        <tr>
                            <td>@kvp.Date</td>
                            <td>@kvp.Count</td>
                            <td>@kvp.AMSCount</td>
                            <td>@kvp.EMEACount</td>
                            <td>@kvp.APJCount</td>
                            
                            <td>@kvp.UnGrouped</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

       


    </div>
    
}
