@using EmailReport.ViewModels
@model ReportListViewModel

@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection{
    MyView
}

@section HeaderSection{
    <link href="~/UI/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <style>
        .canvasbar {
            width: 400px;
            height: 250px;
            float: left;
            margin: 10px 0px 0px 10px;
            position: relative;
        }

        .canvaspie {
            width: 250px;
            height: 250px;
            float: left;
            margin: 10px 0px 0px 10px;
            position: relative;
        }

        .right {
            width: 600px;
            height: 200px;
            float: right;
            margin: 0px 200px 15px 50px;
            position: relative;
            padding: 100px 0px 100px 0px;
        }

        .class {
            margin: 0px 200px 0px 200px;
        }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
    <script src="~/UI/js/PiePlot.js"></script>

    <script type="text/javascript">
        function init_chart_bar() {
           
            if (typeof (Chart) === 'undefined') { return; }

            console.log('init_chart_bar');

            if ($('.canvasbar').length) {

                var chart_bar_settings = {
                    type: 'bar',
                    tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                    data: {
                        labels: [
                            "Delieverred",
                            "Open",
                            "Click",

                        ],
                        datasets: [{
                            data: [@Model.DeliveredCount, @Model.OpenCount, @Model.ClickCount],
                            backgroundColor: [
                                "#3498DB",
                                "#26B99A",
                                "#E74C3C"
                            ],
                            hoverBackgroundColor: [
                                "#49A9EA",
                                "#36CAAB",
                                "#E95E4F"
                            ]
                        }]
                    },
                    options: {
                        legend: false,
                        responsive: false
                    }
                }

                $('.canvasbar').each(function () {

                    var chart_element = $(this);
                    var chart_bar = new Chart(chart_element, chart_bar_settings);

                });

            }

        }
        function init_chart_pie() {
            
            if (typeof (Chart) === 'undefined') { return; }
            console.log(Chart);
            console.log(typeof (Chart));

            console.log('init_chart_pie');

            if ($('.canvaspie').length) {

                var chart_pie_settings = {
                    type: 'pie',
                    tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                    data: {
                        labels: [
                            "AMS",
                            "EUR",
                            "APJ",
                            "UNGROUPED",
                        ],
                        datasets: [{
                            data: [@Model.RegionCodeCount.ElementAt(0).Count, @Model.RegionCodeCount.ElementAt(1).Count, @Model.RegionCodeCount.ElementAt(2).Count, @Model.RegionCodeCount.ElementAt(3).Count],
                            backgroundColor: [
                                "#BDC3C7",
                                "#9B59B6",
                                "#E74C3C",
                                "#26B99A"
                            ],
                            hoverBackgroundColor: [
                                "#CFD4D8",
                                "#B370CF",
                                "#E95E4F",
                                "#36CAAB"
                            ]
                        }]
                    },
                    options: {
                        legend: false,
                        responsive: false
                    }
                }

                $('.canvaspie').each(function () {

                    var chart_element = $(this);
                    var chart_pie = new Chart(chart_element, chart_pie_settings);

                });

            }

        }
        $(document).ready(function () {
           init_chart_pie();
           init_chart_bar();
        })
    </script>

}

@section ContentBody{
    <div class="right_col" role="main">
        <div class="inline" style="display:inline">

            <form action="/Report/DateRange" method="post" class="form-group align-self-end ;">

                <label for="StartDate" class="form-inline" style="font-size:large; vertical-align: top"> From : <input id="StartDate" name="StartDate" width="200" style="vertical-align: bottom" required /></label>
                <script>
                    $('#StartDate').datepicker({

                        uiLibrary: 'bootstrap'
                    });
                </script>

                <label for="EndDate" class="form-inline" style="font-size:large; vertical-align: top">  To : <input id="EndDate" name="EndDate" style="vertical-align: middle" width="200" required /></label>
                <script>
                    $('#EndDate').datepicker({
                        uiLibrary: 'bootstrap'
                    });
                </script>

                <input type="submit" name="BtnSubmit" class="btn btn-primary" style="vertical-align: top" value="Submit" />
                <a href="/BulkUpload/Index" style="font-size:large" class="btn btn-default pull-right">Upload</a>
            </form>


        </div>





        <div class="main_container nav-md container body">
            <div class="row" style="float:left">
                <div class="col-md-6 col-sm-6 col-xs-12" style="float:left">
                    <div class="x_panel tile fixed_height_320 overflow_hidden" style="height:500px">
                        <div class="x_title">
                            <h2>Email Status</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="" style="width:100%">
                                <tr>
                                    <th style="width:37%;">
                                        <p class="">@Model.UniqueUser Users</p>
                                    </th>

                                </tr>
                                <tr>
                                    <td>
                                        <canvas class="canvasbar" height="250" width="400" style="margin: 15px 10px 10px 0"></canvas>
                                    </td>



                                <tr style="font-size:initial">

                                    <td>
                                        <p style="font-size:initial"><i class="fa fa-square blue" style="font-size:initial"></i><a href="/Report/Details/delivered">&nbsp;Delivered</a> </p>
                                    </td>
                                    <td style="font-size:initial"> @Model.DeliveredCount</td>

                                </tr>

                                <tr style="font-size:initial">
                                    <td>
                                        <p style="font-size:initial"><i class="fa fa-square green" style="font-size:initial"></i><a href="/Report/Details/open">&nbsp;Opened</a> </p>
                                    </td>
                                    <td style="font-size:initial"> @Model.OpenCount</td>
                                </tr>
                                <tr style="font-size:initial">
                                    <td>
                                        <p style="font-size:initial"><i class="fa fa-square red" style="font-size:initial"></i><a href="/Report/Details/click">&nbsp;Clicks</a> </p>
                                    </td>
                                    <td style="font-size:initial">@Model.UniqueClickUser</td>
                                </tr>



                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel tile fixed_height_320 overflow_hidden" style="height:500px">
                        <div class="x_title">
                            <h2>Opened Status (Unique Users)</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="" style="width:100%">
                                <tr>
                                    <th style="width:37%;">
                                        <p>@Model.OpenCount opens</p>
                                    </th>

                                </tr>
                                <tr>
                                    <td>
                                        <canvas class="canvaspie" height="250" width="250" style="margin: 15px 10px 10px 0"></canvas>

                                    </td>
                                    <td>
                                        <table class="tile_info right" style="width:initial">


                                            <tr style="font-size:x-large">
                                                <td>
                                                    <p style="font-size:x-large"><i class="fa fa-square aero" style="font-size:x-large"></i>AMS </p>
                                                </td>
                                                <td style="font-size:x-large">@Model.RegionCodeCount.ElementAt(0).Count </td>
                                            </tr>

                                            <tr style="font-size:x-large">
                                                <td>
                                                    <p style="font-size:x-large"><i class="fa fa-square purple" style="font-size:x-large"></i>EUR </p>
                                                </td>
                                                <td style="font-size:x-large">@Model.RegionCodeCount.ElementAt(1).Count</td>
                                            </tr>
                                            <tr style="font-size:x-large">
                                                <td>
                                                    <p style="font-size:x-large"><i class="fa fa-square red" style="font-size:x-large"></i>APJ </p>
                                                </td>
                                                <td style="font-size:x-large">@Model.RegionCodeCount.ElementAt(2).Count</td>
                                            </tr>
                                            <tr style="font-size:x-large">
                                                <td>
                                                    <p style="font-size:x-large"><i class="fa fa-square green" style="font-size:x-large"></i>Ungrouped </p>
                                                </td>
                                                <td style="font-size:x-large">@Model.RegionCodeCount.ElementAt(3).Count</td>
                                            </tr>
                                        </table>
                                    </td>



                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="page-title">
            <div class="title_left">
                <h2>Details of the Opens</h2>
            </div>
        </div>




        @*<div class="col-md-6 col-sm-6 col-xs-12">*@
        @*<div class="x_panel">*@

        <table class="table table-striped">
            <tr>
                <td valign="top">
                    <table class="table table-striped jambo_table">
                        <thead>
                            <tr class="headings">
                                <th>AMS (@Model.RegionCodeCount.ElementAt(0).Count Unique Users)</th>
                                <th>Open Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kvp in @Model.America)
                            {
                                <tr>
                                    <td>@kvp.Country</td>
                                    <td>@kvp.Count</td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </td>
                <td valign="top">
                    <table class="table table-striped jambo_table">
                        <thead>
                            <tr class="headings">
                                <th>EUR (@Model.RegionCodeCount.ElementAt(1).Count Unique Users)</th>
                                <th>Open Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kvp in @Model.Europe)
                            {
                                <tr>
                                    <td>@kvp.Country</td>
                                    <td>@kvp.Count</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>


                <td valign="top">
                    <table class="table table-striped jambo_table">
                        <thead>
                            <tr class="headings">
                                <th>APJ (@Model.RegionCodeCount.ElementAt(2).Count Unique Users)</th>
                                <th>Open Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kvp in @Model.AsianPacific)
                            {
                                <tr>
                                    <td>@kvp.Country</td>
                                    <td>@kvp.Count</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @*</div>*@
                    @*</div>*@
                </td>
        </table>


        <div class="page-title">
            <div class="title_left">
                <h2>@Model.UniqueClickUser Users Click in the URL</h2>
            </div>
        </div>



        <div>
            <table class="table table-striped jambo_table">
                <thead>
                    <tr class="headings">
                        <th>Page URL</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var kvp in @Model.UrlCount)
                    {
                        <tr>
                            <td>@kvp.Url</td>
                            <td>@kvp.Count</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div>
            <table class="table table-striped jambo_table">
                <thead>
                    <tr class="headings">

                        <th>Date</th>
                        <th>TotalOpen</th>
                        <th>AMSOpen</th>
                        <th>EUROpen</th>
                        <th>APJOpen</th>
                        <th>UnGrouped</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var kvp in @Model.DateCount)
                    {
                        <tr>
                            <td>@kvp.Date</td>
                            <td>@kvp.Count</td>
                            <td>@kvp.AMSCount</td>
                            <td>@kvp.EURCount</td>
                            <td>@kvp.APJCount</td>
                            <td>@kvp.UnGrouped</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
}


<!-- footer content -->
